:host {
    ion-header {
        ion-toolbar {
            --background: #2d644d;
            ion-title {
                background: #2d644d;
                color: #fff;
            }
            ion-buttons {
                ion-back-button {
                    color: #fff;
                }
                ion-menu-button {
                    color: #fff;
                }

            }
        }
    }

    .successStyle {
        ion-grid {
            padding: 30px;
            border: solid #000 1px;
            border-radius: 15px;
            margin-bottom: 25px;
            margin-top: 35px;
            ion-row{
                ion-label {
                    text-align: center;
                    h3 {
                        font-size: 1.5rem;
                        margin-top: 40%;
                        margin-bottom: 10%;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    ion-content {
        form {
            padding: 10px;
        }
        .cartStyle {
            margin-bottom: 20px;
            ion-item {
                border: solid #000;
                border-width: 0px 0px 1px 0px;
                ion-row {
                    margin: 0px;
                    width: 100%;
                    ion-col {
                        margin-top: 10px;
                        text-align: left;
                        border: none;
                        ion-label {
                            font-size: .8rem;
                        }
                        .header {
                            font-size: .9rem;
                            font-weight: 600;
                        }
                        ion-button {
                            height: 70%;
                        }
                        .deleteBtn {
                            --background: #45484d;
                            --background-activated: #45484d;
                            --background-focused: #45484d;
                            --color: #fff;
                            --color-activated: #fff;
                            --color-focused: #fff;
                        }
                        .editBtn {
                            --background: #ddd;
                            --background-activated: #ddd;
                            --background-focused: #ddd;
                            --color: #000;
                            --color-activated: #000;
                            --color-focused: #000;
                        }
                    }
                }
            }
        }
        ion-row {
            // text-align: center; 
            margin: 0 auto;
            margin-top: 5px;
            margin-bottom: 5px;
            ion-col {
                text-align: center;
                border: solid #000; 
                border-width: 1px;
            }

            ion-input {
                border: solid #000; 
                border-width: 1px;
            }

            .ios ion-input {
                border: solid #000; 
                border-width: 1px;
                padding-left: 10px !important;
            }

            ion-label {
                font-size: 1rem;
                margin-top: -5px;
                margin-bottom: 5px;
            }
        }
    }

    ion-footer {
        ion-toolbar {
            height: 50px;
            --background: #2e634f;
            border: solid #b0c6bf;
            border-width: 10px 0px 0px 0px;
            ion-title {
                text-align: right;
                padding: 0px 0px 0px 0px;
                background: #2e634f;
                img {
                    width: 23%;
                    margin-bottom: 4%;
                    height: auto;
                }
            }
        }
    }

}