:host {
    ion-header {
        ion-toolbar {
            --background: #2d644d;
            ion-title {
                background: #2d644d;
                color: #fff;
            }
            ion-buttons {
                ion-button {
                    font-size: 2rem; 
                    color: #fff;
                }
                ion-back-button {
                    color: #fff;
                }
                ion-menu-button {
                    color: #fff;
                }

            }
        }
    }
    
    ion-content {
        
        .cartStyle {
            margin-bottom: 20px;
            ion-item {
                --background: #f7f7f7;
                border: solid #000;
                border-width: 0px 0px 1px 0px;
                ion-row {
                    margin: 0px;
                    width: 100%;
                    ion-col {
                        margin-top: 10px;
                        text-align: left;
                        border: none;
                        ion-label {
                            font-size: .8rem;
                        }
                        .header {
                            font-size: .9rem;
                            font-weight: 600;
                        }
                        ion-button {
                            height: 70%;
                        }
                        .deleteBtn {
                            --background: #45484d;
                            --background-activated: #45484d;
                            --background-focused: #45484d;
                            --color: #fff;
                            --color-activated: #fff;
                            --color-focused: #fff;
                        }
                        .editBtn {
                            --background: #ddd;
                            --background-activated: #ddd;
                            --background-focused: #ddd;
                            --color: #000;
                            --color-activated: #000;
                            --color-focused: #000;
                        }
                    }
                }
            }
        }
        
        ion-row {
            // text-align: center; 
            margin: 0 auto;
            margin-top: 5px;
            margin-bottom: 5px;
            ion-col {
                text-align: center;
                border: solid #000; 
                border-width: 1px;
            }

            ion-input {
                border: solid #000; 
                border-width: 1px;
            }

            .ios ion-input {
                border: solid #000; 
                border-width: 1px;
                padding-left: 10px !important;
            }

            ion-label {
                font-size: 1rem;
                margin-top: -5px;
                margin-bottom: 5px;
            }
        }
    }

    .viewStyle {
        ion-grid {
            padding: 25px 20px 40px 20px;
            border: solid #000 1px;
            box-shadow: 0px 2px 5px 0px rgba(136, 136, 136, 0.7);
            ion-row {
                .subjectStyle {
                    font-size: 1.3rem; 
                    font-weight: 600;
                }
                
                ion-label {
                    font-size: .9rem;
                    font-weight: 600;
                }
                .bodyStyle {
                    font-size: .9rem;
                    font-weight: 400;
                }
                ion-col {
                    border-radius: 5px;
                }
            }
        }
    }
    

    ion-footer {
        ion-toolbar {
            height: 50px;
            --background: #2e634f;
            border: solid #b0c6bf;
            border-width: 10px 0px 0px 0px;
            ion-title {
                text-align: right;
                padding: 0px 0px 0px 0px;
                background: #2e634f;
                img {
                    width: 23%;
                    margin-bottom: 0%;
                    margin-right: 2%;
                    height: auto;
                }
            }
        }
    }
}