<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="viewer != true">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="viewer == true" slot="start" style="font-size: 2rem; color: #fff; margin-left: -5px;"
      (click)="backtoList()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Inbox Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="viewer != true">
  <ion-searchbar animated></ion-searchbar>

  <ion-list class="cartStyle">
    <ion-item *ngFor="let info of inboxData; let i = index" (click)="viewMsg(info)">
      <ion-row>
        <ion-col>
          <ion-label class="header">{{info.subject}}</ion-label>
          <ion-label>Sender: {{info.senderid}}</ion-label>
          <ion-label>Date: {{info.created | date: "longDate"}}</ion-label>
          <ion-label>Time: {{info.created | date: "h:mm a"}}"</ion-label>

        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-button class="deleteBtn" (click)="removeItem(i,info)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>
</ion-content>

<ion-content padding class="viewStyle" *ngIf="viewer == true">
  <br>
  <ion-grid>
    <ion-row style="margin-bottom: 10px;">
      <ion-label class="subjectStyle"> {{selectedMsg.subject}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Sender: Syngenta Admin</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Date: {{selectedMsg.created | date: "longDate"}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Time: {{selectedMsg.created | date: "h:mm a"}}</ion-label>
    </ion-row>
    <ion-row style="margin-top: 15px;">
      <ion-label class="bodyStyle" style="font-size: .9rem;">
        {{selectedMsg.body}}
      </ion-label>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="selectedMsg.attachments.length != 0" style="border: none; box-shadow: none;">
    <ion-row>
      <ion-label>Attached File(s)</ion-label>
    </ion-row>
    <ion-row>
      <ion-col size="2" *ngFor="let attach of selectedMsg.attachments" style="margin: 5px;">
        <img [src]="attach">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <img src="assets/img/icon_syngenta_footer.png">
    </ion-title>
  </ion-toolbar>
</ion-footer>