:host {
    ion-header {
        ion-toolbar {
            --background: #2d644d;
            ion-title {
                background: #2d644d;
                color: #fff;
            }
            ion-buttons {
                ion-button {
                    font-size: 2rem; 
                    color: #fff;
                }
                ion-back-button {
                    color: #fff;
                }
                ion-menu-button {
                    color: #fff;
                }

            }
        }
    }

    .forgotStyle {
        ion-grid {
            margin-bottom: 100%;

            ion-row {
                text-align: center;
                margin: 0 auto;
                form {
                    width: 100%;
                    ion-input {
                        margin-top: 5%;
                        font-size: 1rem;
                        --padding-top: 4%;
                        --padding-bottom: 4%;
                        border-radius: 15px;
                        border: solid #000;
                        border-width: 1px;
                        text-align: center;
                    }
                }
                
                ion-label {
                    font-size: .8rem;
                    font-weight: 500;
                    text-align: center;
                }

                ion-button {
                    margin: 0 auto;
                    width: 50%;
                    --background: #2e634f;
                    --background-activated: #2e634f;
                    --background-focused: #2e634f;

                }
            }
        }
    }

    ion-content {
        // background-image: url('../../assets/img/loginBG.jpg');
        --background: #fff;
        background-repeat: no-repeat;
        background-size:cover;
        padding: 10% 10%;
        ion-item {
            ion-icon {
                padding-right: 5%;
                color: #757575;
            }
            ion-input {

            }
        }

        .spacing {
            height: 10%;
        }

        .headerImg {
            height: 150px;
            background-repeat: no-repeat;
            background-size:cover;
            background-image: url('../../assets/img/bg_ricefields_b.png');
            --background: transparent;
            
            ion-col {
                padding-left: 10%;
                padding-bottom: 10%;
                padding-top: 10%;
                ion-label {
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 500;
                }
                .subLabel {
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
        }

        .loginItems {
            ion-row {
                ion-label {
                    margin: 0 auto;
                    margin-bottom: 10%;
                    font-size: .8rem;
                }
                ion-button {
                    margin: 0 auto;
                    width: 50%;
                    --background: #2e634f;
                    --background-activated: #2e634f;
                    --background-focused: #2e634f;

                }
            }
        }

        ion-img {
            width: 200px;
            height: auto;
        }
    }

    ion-footer {
        ion-toolbar {
            height: 50px;
            --background: #2e634f;
            border: solid #b0c6bf;
            border-width: 10px 0px 0px 0px;
            ion-title {
                text-align: right;
                padding: 0px 0px 0px 0px;
                background: #2e634f;
                img {
                    width: 23%;
                    margin-bottom: 0%;
                    margin-right: 2%;
                    height: auto;
                }
            }
        }
    }

}