<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="font-size: 2rem; color: #fff; margin-left: -5px;" (click)="backtoScan()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-buttons *ngIf="false" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Purchase - {{fforce.getTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="fforce.getTitle == 'Retailer'" style="--padding-top: 5px; --padding-bottom: 0px;">
  <form #details="ngForm">
    <ion-row>
      <ion-input placeholder="" readonly="true" style="background: #000; color: #fff;" name="dateToday"
        [(ngModel)]="dateToday">
      </ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Date</ion-label>
    </ion-row>

    <ion-row style="text-align: left;">
      <ion-input placeholder="" readonly="true" style="background: #000; color: #fff;" name="membershipid"
        [(ngModel)]="fforce.getMemberID"></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Membership ID</ion-label>
    </ion-row>

    <ion-row>
      <ion-input placeholder="" readonly="true" name="membership_status" [(ngModel)]="membershipstatus"></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Membership Status</ion-label>
    </ion-row>

    <ion-button
      style="--padding-start: 0px; --padding-end: 0px; border: solid #000 1px; margin: 0px; margin-bottom: 5px; --color: #000; --color-activated: #000; --color-focused: #000; --background: #fff; --background-activated: #fff; --background-focused: #fff;"
      fill="solid" expand="full">
      <ion-item style="width: 100%;">
        <span
          slot="start">{{this.fforce.getMemberData[0].first_name.charAt(0).toUpperCase()+this.fforce.getMemberData[0].first_name.substr(1).toLowerCase()}}
          {{this.fforce.getMemberData[0].middle_name.charAt(0).toUpperCase()+this.fforce.getMemberData[0].middle_name.substr(1).toLowerCase()}}
          {{this.fforce.getMemberData[0].last_name.charAt(0).toUpperCase()+this.fforce.getMemberData[0].last_name.substr(1).toLowerCase()}}</span>
        <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-button>
    <ion-row>
      <ion-label>Retailer</ion-label>
    </ion-row>

    <ion-button (click)="selectModal('products')"
      style="--padding-start: 0px; --padding-end: 0px; border: solid #000 1px; margin: 0px; margin-bottom: 5px; --color: #000; --color-activated: #000; --color-focused: #000; --background: #fff; --background-activated: #fff; --background-focused: #fff;"
      fill="solid" expand="full">
      <ion-item style="width: 100%;">
        <span slot="start">{{fforce.chosenProduct == undefined ? 'Select Product': fforce.chosenProduct.name}}</span>
        <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-button>
    <ion-row>
      <ion-label>Item Name</ion-label>
    </ion-row>

    <ion-row>
      <ion-col style="border: none; padding: 0px; text-align: left;">
        <ion-row>
          <ion-input placeholder="" readonly="true" name="uom"
            [value]="fforce.chosenProduct == undefined ?'': fforce.chosenProduct.uom.charAt(0).toUpperCase()+fforce.chosenProduct.uom.substr(1).toLowerCase()">
          </ion-input>
        </ion-row>
        <ion-row>
          <ion-label>Unit of Measurement(UOM)</ion-label>
        </ion-row>
      </ion-col>
      <ion-col size=".5" style="border: none;">
      </ion-col>
      <ion-col style="border: none; padding: 0px;">
        <ion-row>
          <ion-input placeholder="" name="quantity" type="number" pattern="[0-9]*" [(ngModel)]="itemQty"></ion-input>
        </ion-row>
        <ion-row>
          <ion-label>Quantity</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-input placeholder="" name="invoice" [(ngModel)]="invoiceData"></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Invoice/Official Receipt Reference</ion-label>
    </ion-row>

    <ion-row>
      <ion-input placeholder="" name="remarks" ngModel></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Remarks</ion-label>
    </ion-row>

  </form>

  <ion-row class="purchasesBtn">
    <ion-col style="border: none; padding: 0px;">
      <ion-button style="color: #fff; --background: #000; --background-activated: #000; --background-focused: #000;"
        fill="solid" expand="full" (click)="addItem(details)">
        ADD ITEM
      </ion-button>
    </ion-col>
    <ion-col size=".1" style="border: none;">
    </ion-col>
    <ion-col style="border: none; padding: 0px;">
      <ion-button
        style="color: #fff; --background: #ff0000; --background-activated: #ff0000; --background-focused: #ff0000;"
        fill="solid" expand="full" (click)="checkOut(details)">
        CHECKOUT
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-content padding *ngIf="fforce.getTitle == 'Grower'">
  <form #details="ngForm">
    <ion-row>
      <ion-input placeholder="" readonly="true" style="background: #000; color: #fff;" name="dateToday"
        [(ngModel)]="dateToday">
      </ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Date</ion-label>
    </ion-row>

    <ion-row style="text-align: left;">
      <ion-input placeholder="" readonly="true" style="background: #000; color: #fff;" name="membershipid"
        [(ngModel)]="fforce.getMemberID"></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Membership ID</ion-label>
    </ion-row>

    <ion-row>
      <ion-input placeholder="" readonly="true" name="membership_status" [(ngModel)]="membershipstatus"></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Membership Status</ion-label>
    </ion-row>

    <ion-button (click)="selectModal('retailers')"
      style="--padding-start: 0px; --padding-end: 0px; border: solid #000 1px; margin: 0px; margin-bottom: 5px; --color: #000; --color-activated: #000; --color-focused: #000; --background: #fff; --background-activated: #fff; --background-focused: #fff;"
      fill="solid" expand="full">
      <ion-item style="width: 100%;">
        <span *ngIf="fforce.chosenRetailer != undefined" slot="start">
          {{fforce.chosenRetailer.first_name.charAt(0).toUpperCase()+fforce.chosenRetailer.first_name.substr(1).toLowerCase()}}
          {{fforce.chosenRetailer.middle_name.charAt(0).toUpperCase()+fforce.chosenRetailer.middle_name.substr(1).toLowerCase()}}
          {{fforce.chosenRetailer.last_name.charAt(0).toUpperCase()+fforce.chosenRetailer.last_name.substr(1).toLowerCase()}}</span>
        <span *ngIf="fforce.chosenRetailer == undefined" slot="start">
          Select Retailer</span>
        <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-button>

    <ion-item *ngIf="false" (click)="selectModal('retailers')"
      style="border: solid #000; border-width: 1px; --min-height: 35px; --highlight-background: transparent; margin-bottom: 5px;">
      <ion-input placeholder="" readonly="true" name="retailer" [(ngModel)]="selectedRetailer"> </ion-input>
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-item>
    <ion-row>
      <ion-label>Retailer</ion-label>
    </ion-row>

    <ion-button (click)="selectModal('products')"
      style="--padding-start: 0px; --padding-end: 0px; border: solid #000 1px; margin: 0px; margin-bottom: 5px; --color: #000; --color-activated: #000; --color-focused: #000; --background: #fff; --background-activated: #fff; --background-focused: #fff;"
      fill="solid" expand="full">
      <ion-item style="width: 100%;">
        <span slot="start">{{fforce.chosenProduct == undefined ? 'Select Product': fforce.chosenProduct.name}}</span>
        <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-button>

    <ion-item *ngIf="false" (click)="selectModal('products')"
      style="border: solid #000; border-width: 1px; --min-height: 35px; --highlight-background: transparent; margin-bottom: 5px;">
      <ion-input placeholder="" readonly="true" name="product" [(ngModel)]="selectedProduct"> </ion-input>
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-item>
    <ion-row>
      <ion-label>Item Name</ion-label>
    </ion-row>

    <ion-row>
      <ion-col style="border: none; padding: 0px; text-align: left;">
        <ion-row>
          <ion-input placeholder="" readonly="true" name="uom"
            [value]="fforce.chosenProduct == undefined ?'': fforce.chosenProduct.uom.charAt(0).toUpperCase()+fforce.chosenProduct.uom.substr(1).toLowerCase()">
          </ion-input>
        </ion-row>
        <ion-row>
          <ion-label>Unit of Measurement(UOM)</ion-label>
        </ion-row>
      </ion-col>
      <ion-col size=".5" style="border: none;">
      </ion-col>
      <ion-col style="border: none; padding: 0px;">
        <ion-row>
          <ion-input placeholder="" name="quantity" type="number" pattern="[0-9]*" [(ngModel)]="itemQty"></ion-input>
        </ion-row>
        <ion-row>
          <ion-label>Quantity</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-input placeholder="" name="invoice" [(ngModel)]="invoiceData"></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Invoice/Official Receipt Reference</ion-label>
    </ion-row>

    <ion-row>
      <ion-input placeholder="" name="remarks" ngModel></ion-input>
    </ion-row>
    <ion-row>
      <ion-label>Remarks</ion-label>
    </ion-row>

  </form>

  <ion-row class="purchasesBtn">
    <ion-col style="border: none; padding: 0px;">
      <ion-button style="color: #fff; --background: #000; --background-activated: #000; --background-focused: #000;"
        fill="solid" expand="full" (click)="addItem(details)">
        ADD ITEM
      </ion-button>
    </ion-col>
    <ion-col size=".1" style="border: none;">
    </ion-col>
    <ion-col style="border: none; padding: 0px;">
      <ion-button
        style="color: #fff; --background: #ff0000; --background-activated: #ff0000; --background-focused: #ff0000;"
        fill="solid" expand="full" (click)="checkOut(details)">
        CHECKOUT
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <img src="assets/img/icon_syngenta_footer.png">
    </ion-title>
  </ion-toolbar>
</ion-footer>