:host {
    ion-header {
        ion-toolbar {
            --background: #2d644d;
            ion-title {
                background: #2d644d;
                color: #fff;
            }
            ion-buttons {
                ion-back-button {
                    color: #fff;
                }
                ion-menu-button {
                    color: #fff;
                }

            }
        }
    }

    ion-content {
        --background: #fafafa;
        ion-grid {
            padding: 0px;
            .header {
                background: #b0c7bf;
                ion-col {
                    background: none;
                    ion-label {
                        font-size: .8rem;
                    }
                }
            }

            ion-row {
                padding: 5%;
                padding-bottom: 0px;
                ion-col {
                    background: #fff;
                    ion-label {
                        font-size: .9rem;
                    }
                    .subLabel {
                        font-size: .8rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    ion-avatar {
        width: 100%;
        height: auto;
        // border: solid;
        // border-color: #757575;
        // box-shadow: 1px 2px 7px 0px;
        img {

        }
    }

    ion-footer {
        ion-toolbar {
            height: 50px;
            --background: #2e634f;
            border: solid #b0c6bf;
            border-width: 10px 0px 0px 0px;
            ion-title {
                text-align: right;
                padding: 0px 0px 0px 0px;
                background: #2e634f;
                img {
                    width: 23%;
                    margin-bottom: 0%;
                    margin-right: 2%;
                    height: auto;
                }
            }
        }
    }

}